.root {
  position: fixed;
  left: 5%;
  bottom: 2.5%;
  background-color: #000;
  color: rgb(212, 212, 212);
  z-index: 1;
}

.box {
  padding: 20px;
}

.pTop {
  color: #57d35b;
}

.p {
  color: rgb(0, 162, 255);
}
